.form-group {
	position: relative;
}
.form-group-addon{
	position: absolute;
	dominant-baseline: text-before-edge;
	display: none;
}
.form-control {
	padding-right: 30px;
}

.parallax {
    
    background-image: url("https://www.eventbooking.com/wp-content/uploads/2015/07/web-ops-logo-rgb.png");
    background-attachment: fixed;;
    height:100%;
    background-position: center;
    background-repeat: repeat-y;
    background-size: cover;
    opacity: 0.7;
}